In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
from sklearn.decomposition import TruncatedSVD
import warnings

In [2]:
movie = pd.read_csv('movies.csv')
rating = pd.read_csv('ratings.csv')

In [3]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
rating.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
movie.drop('genres', axis=1, inplace=True)
rating.drop('timestamp', axis=1, inplace=True)

In [6]:
data = movie.merge(rating, on='movieId')

In [7]:
data.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [8]:
New_Data = data.dropna(axis=0, subset=['title'])

In [9]:
Rating_Count = (New_Data.groupby('title')['rating'].count().reset_index())

In [10]:
Rating_Count.head()

                                     title  rating
0                               '71 (2014)       1
1  'Hellboy': The Seeds of Creation (2004)       1
2                   'Round Midnight (1986)       2
3                      'Salem's Lot (2004)       1
4                'Til There Was You (1997)       2

In [11]:
Rating_Count['Total_Rating_Count']=Rating_Count['rating']
Rating_Count.drop('rating', axis=1, inplace=True)

In [12]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(Rating_Count['Total_Rating_Count'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: Total_Rating_Count, dtype: float64

In [13]:
print(Rating_Count['Total_Rating_Count'].quantile(np.arange(.9,1,.01)))

0.900    27.000
0.910    30.000
0.920    33.560
0.930    38.000
0.940    42.000
0.950    47.000
0.960    55.000
0.970    64.460
0.980    83.000
0.990   114.640
Name: Total_Rating_Count, dtype: float64

In [14]:
Final = New_Data.merge(Rating_Count, left_on='title', right_on='title', how='left')

In [15]:
Final.head()

   movieId             title  userId  rating  Total_Rating_Count
0        1  Toy Story (1995)       1   4.000                 215
1        1  Toy Story (1995)       5   4.000                 215
2        1  Toy Story (1995)       7   4.500                 215
3        1  Toy Story (1995)      15   2.500                 215
4        1  Toy Story (1995)      17   4.500                 215

In [16]:
Threshold = 50
New_Final = Final.query('Total_Rating_Count >= @Threshold')
New_Final.head()

   movieId             title  userId  rating  Total_Rating_Count
0        1  Toy Story (1995)       1   4.000                 215
1        1  Toy Story (1995)       5   4.000                 215
2        1  Toy Story (1995)       7   4.500                 215
3        1  Toy Story (1995)      15   2.500                 215
4        1  Toy Story (1995)      17   4.500                 215

In [17]:
Features = New_Final.pivot_table(values='rating', index='userId', columns='title').fillna(0)
Features.head()

title,10 Things I Hate About You (1999),12 Angry Men (1957),2001: A Space Odyssey (1968),28 Days Later (2002),300 (2007),"40-Year-Old Virgin, The (2005)",A.I. Artificial Intelligence (2001),"Abyss, The (1989)",Ace Ventura: Pet Detective (1994),Ace Ventura: When Nature Calls (1995),...,Willy Wonka & the Chocolate Factory (1971),"Wizard of Oz, The (1939)","Wolf of Wall Street, The (2013)",X-Men (2000),X-Men: The Last Stand (2006),X2: X-Men United (2003),You've Got Mail (1998),Young Frankenstein (1974),Zombieland (2009),Zoolander (2001)
userId,,,,,,,,,,,,,,,,,,,,,
1,0.000,0.000,0.000,0.000,0.000,0.000,0.000,4.000,0.000,0.000,...,5.000,5.000,0.000,5.000,0.000,0.000,0.000,5.000,0.000,0.000
2,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,5.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000
3,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.500,0.000,0.000,0.000
4,0.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,...,4.000,5.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
5,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,3.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [18]:
Features.shape

(606, 450)

In [19]:
X = Features.values.T
X.shape

(450, 606)

In [20]:
SVD = TruncatedSVD(n_components=12, random_state=17)
Matrix = SVD.fit_transform(X)
Matrix.shape

(450, 12)

In [21]:
warnings.filterwarnings("ignore", category=RuntimeWarning)
Correlation = np.corrcoef(Matrix)
Correlation.shape

(450, 450)

In [22]:
Movie_Title = Features.columns
Movie_List = list(Movie_Title)

In [23]:
Wizard = Movie_List.index("Wizard of Oz, The (1939)")
print(Wizard)

441

In [24]:
Recommend = Correlation[Wizard]
list(Movie_Title[(Recommend >= 0.9)])

['Animal House (1978)',
 'Beetlejuice (1988)',
 'Big (1988)',
 "Bug's Life, A (1998)",
 'Christmas Story, A (1983)',
 'Crocodile Dundee (1986)',
 'E.T. the Extra-Terrestrial (1982)',
 'Fantasia (1940)',
 'Goonies, The (1985)',
 'Grease (1978)',
 'Honey, I Shrunk the Kids (1989)',
 'Jaws (1975)',
 'Jungle Book, The (1967)',
 'Lady and the Tramp (1955)',
 'Little Mermaid, The (1989)',
 'Mary Poppins (1964)',
 'Romancing the Stone (1984)',
 'Sound of Music, The (1965)',
 'Splash (1984)',
 'To Kill a Mockingbird (1962)',
 'Who Framed Roger Rabbit? (1988)',
 'Wizard of Oz, The (1939)']

In [50]:
print(Correlation[Wizard])

[0.73044285 0.7513778  0.73524344 0.52948559 0.52768435 0.64948809
 0.65196762 0.71106869 0.52861515 0.61668866 0.48296858 0.63839798
 0.88125068 0.69302763 0.75027864 0.67546771 0.78019872 0.82995116
 0.44444486 0.7168575  0.53100436 0.74194728 0.55603249 0.66826941
 0.64722022 0.91444482 0.76846269 0.72982195 0.64271208 0.8911716
 0.6864339  0.64187694 0.72982156 0.70212359 0.86003567 0.81903962
 0.44220451 0.30277233 0.73896933 0.86751694 0.80582104 0.82135927
 0.50828019 0.5948156  0.54538799 0.45010052 0.8049684  0.5790126
 0.69221723 0.92856431 0.81075923 0.78502378 0.42542129 0.93286964
 0.6467682  0.68219408 0.40928976 0.51859924 0.55990364 0.63747181
 0.79962635 0.87668766 0.51049408 0.65761819 0.86713251 0.56479538
 0.55261292 0.51867583 0.38607443 0.66132203 0.48382906 0.59216981
 0.89000198 0.73470931 0.24509501 0.65404389 0.90238803 0.80223698
 0.66231197 0.86374275 0.82745927 0.56145564 0.47759364 0.52532199
 0.68799694 0.60557019 0.68152916 0.73072421 0.7006067  0.78966055
 0.48763025 0.72556113 0.96765418 0.66306245 0.85092347 0.34892888
 0.43740276 0.28508075 0.69680653 0.33210016 0.2397846  0.68904834
 0.89139211 0.67227643 0.7066494  0.50434967 0.37459426 0.75545487
 0.84825258 0.64011328 0.2868293  0.90100053 0.64253946 0.53885882
 0.5584007  0.31123895 0.4233756  0.61890939 0.48678786 0.40721035
 0.77131267 0.28097395 0.38589071 0.51214621 0.52276677 0.74855476
 0.72058808 0.39059897 0.0689839  0.39487688 0.33481386 0.71623953
 0.56389129 0.53303754 0.6953732  0.50323833 0.5451384  0.92379926
 0.60976716 0.85927156 0.75952888 0.63785609 0.28363684 0.73580365
 0.49994409 0.86481217 0.70561749 0.6708665  0.96016197 0.7243377
 0.88832507 0.80423796 0.86786368 0.64006354 0.53545248 0.67425047
 0.27295737 0.25769564 0.85259008 0.62736553 0.5913797  0.57724657
 0.56451998 0.66134512 0.77025087 0.8389293  0.51892544 0.65039549
 0.62598526 0.51063924 0.63941332 0.88025532 0.60071077 0.75384776
 0.75842585 0.55701057 0.86034917 0.61971875 0.67906145 0.73649052
 0.73710484 0.91565611 0.77594777 0.36998617 0.9090311  0.62736735
 0.70358041 0.88980279 0.59409577 0.35196452 0.55852644 0.68837671
 0.61455237 0.38764002 0.60752378 0.45696041 0.56746969 0.60076807
 0.67927436 0.48151643 0.73491531 0.76192093 0.91798353 0.83806172
 0.53604848 0.68093985 0.31902237 0.70429986 0.50652356 0.47177733
 0.66357998 0.50426163 0.32554789 0.61014081 0.61266713 0.77416444
 0.82131225 0.40074251 0.25051604 0.39610182 0.39854643 0.89592394
 0.62463075 0.92859798 0.79023693 0.49176161 0.37423279 0.67698295
 0.94015089 0.59820051 0.73197947 0.52126871 0.53390941 0.42328037
 0.58181524 0.46234186 0.74733099 0.93369431 0.52297743 0.55057236
 0.34873678 0.73107013 0.32353054 0.77360946 0.79430036 0.63743188
 0.63016671 0.92322559 0.64619438 0.62595091 0.49536259 0.47192183
 0.48410866 0.79228868 0.65343953 0.65429623 0.47177009 0.76945601
 0.76873441 0.93892505 0.75575374 0.58818974 0.52660846 0.39338519
 0.55976223 0.53694814 0.7413549  0.56584168 0.80785117 0.55872613
 0.53709506 0.64207566 0.71022229 0.64638324 0.6080113  0.6683604
 0.85389086 0.75974564 0.68528853 0.55939572 0.44254646 0.69143138
 0.58930324 0.73387745 0.78704998 0.83338951 0.64503428 0.58418423
 0.38537411 0.45411621 0.81573884 0.48873202 0.78250938 0.6951003
 0.61970618 0.75171956 0.63662654 0.75206751 0.76506731 0.67776581
 0.25955096 0.48732328 0.66084288 0.53572112 0.42414257 0.84121154
 0.57528793 0.58706463 0.60134315 0.81350936 0.72227566 0.86928715
 0.57469438 0.63510107 0.55897263 0.64141196 0.86082844 0.81311506
 0.58057552 0.37126844 0.76297286 0.86982639 0.84964024 0.58598967
 0.73740681 0.53102401 0.65560138 0.70444615 0.73872416 0.58464222
 0.86186359 0.86802028 0.90187803 0.75504334 0.62533383 0.77832408
 0.37567279 0.57913718 0.66471941 0.60285601 0.68821069 0.63177969
 0.63413449 0.85169333 0.47892782 0.46479978 0.56515753 0.8191878
 0.62123324 0.5581467  0.44157761 0.81452599 0.6795087  0.69591983
 0.32464858 0.72272087 0.67610859 0.5411628  0.76944128 0.33937461
 0.53935924 0.70911967 0.52152659 0.5307641  0.78248927 0.48539751
 0.80307433 0.91237924 0.75266687 0.67937579 0.83842091 0.61648212
 0.64976394 0.61327303 0.51885726 0.93017853 0.88692666 0.45770018
 0.66815017 0.5799351  0.39984695 0.76348894 0.62853263 0.61684776
 0.71994631 0.75692906 0.74668047 0.44181661 0.63396153 0.78528703
 0.71539881 0.52097932 0.77192251 0.61702184 0.61774175 0.71674177
 0.62158772 0.41368526 0.18932497 0.79901125 0.8633899  0.54816635
 0.78822082 0.90264948 0.57805522 0.56371923 0.80765699 0.68528346
 0.82404272 0.8742502  0.53671066 0.60913397 0.62310179 0.55244599
 0.62449541 0.51036968 0.58680356 0.77593724 0.52717539 0.57043613
 0.54241038 0.67195591 0.79791179 0.43006947 0.61254986 0.44288265
 0.74749023 0.43065886 0.87757282 0.56010566 0.40726537 0.86172227
 0.6334197  0.81598591 0.65240559 0.55209678 0.84609794 0.47315067
 0.94157902 0.68336201 0.82388716 1.         0.3001892  0.69091927
 0.54008436 0.58845965 0.70541811 0.87292984 0.47737067 0.70316546]

In [46]:
print(Movie_Title[(Recommend >= 0.9)])

Index(['Animal House (1978)', 'Beetlejuice (1988)', 'Big (1988)',
       'Bug's Life, A (1998)', 'Christmas Story, A (1983)',
       'Crocodile Dundee (1986)', 'E.T. the Extra-Terrestrial (1982)',
       'Fantasia (1940)', 'Goonies, The (1985)', 'Grease (1978)',
       'Honey, I Shrunk the Kids (1989)', 'Jaws (1975)',
       'Jungle Book, The (1967)', 'Lady and the Tramp (1955)',
       'Little Mermaid, The (1989)', 'Mary Poppins (1964)',
       'Romancing the Stone (1984)', 'Sound of Music, The (1965)',
       'Splash (1984)', 'To Kill a Mockingbird (1962)',
       'Who Framed Roger Rabbit? (1988)', 'Wizard of Oz, The (1939)'],
      dtype='object', name='title')

In [49]:
print(Movie_Title[(Recommend >= 0.8)])

Index(['Airplane! (1980)', 'Amadeus (1984)', 'Animal House (1978)',
       'Arachnophobia (1990)',
       'Austin Powers: International Man of Mystery (1997)',
       'Austin Powers: The Spy Who Shagged Me (1999)',
       'Back to the Future (1985)', 'Back to the Future Part II (1989)',
       'Back to the Future Part III (1990)', 'Batman Returns (1992)',
       'Beetlejuice (1988)', 'Being John Malkovich (1999)', 'Big (1988)',
       'Blazing Saddles (1974)', 'Blues Brothers, The (1980)',
       'Breakfast Club, The (1985)', 'Bug's Life, A (1998)',
       'Butch Cassidy and the Sundance Kid (1969)', 'Caddyshack (1980)',
       'Casablanca (1942)', 'Christmas Story, A (1983)', 'Citizen Kane (1941)',
       'Close Encounters of the Third Kind (1977)', 'Cool Hand Luke (1967)',
       'Crocodile Dundee (1986)', 'E.T. the Extra-Terrestrial (1982)',
       'Edward Scissorhands (1990)', 'Exorcist, The (1973)', 'Fantasia (1940)',
       'Ferris Bueller's Day Off (1986)', 'Few Good Men, A (1992)',
       'Field of Dreams (1989)', 'Fish Called Wanda, A (1988)',
       'Galaxy Quest (1999)', 'Ghostbusters (a.k.a. Ghost Busters) (1984)',
       'Goldfinger (1964)', 'Goonies, The (1985)', 'Grease (1978)',
       'Groundhog Day (1993)', 'Honey, I Shrunk the Kids (1989)',
       'Hook (1991)', 'Indiana Jones and the Temple of Doom (1984)',
       'It's a Wonderful Life (1946)', 'Jaws (1975)',
       'Jungle Book, The (1967)', 'Lady and the Tramp (1955)',
       'Little Mermaid, The (1989)', 'Mary Poppins (1964)',
       'Men in Black (a.k.a. MIB) (1997)',
       'Monty Python and the Holy Grail (1975)', 'My Cousin Vinny (1992)',
       'Nightmare Before Christmas, The (1993)', 'Pinocchio (1940)',
       'Planet of the Apes (1968)', 'Pleasantville (1998)',
       'Princess Bride, The (1987)', 'Psycho (1960)', 'Rain Man (1988)',
       'Raising Arizona (1987)', 'Rocky (1976)',
       'Rocky Horror Picture Show, The (1975)', 'Romancing the Stone (1984)',
       'Scream (1996)', 'Shakespeare in Love (1998)', 'Shining, The (1980)',
       'Some Like It Hot (1959)', 'Sound of Music, The (1965)',
       'Spaceballs (1987)', 'Splash (1984)', 'Stand by Me (1986)',
       'This Is Spinal Tap (1984)', 'To Kill a Mockingbird (1962)',
       'Top Gun (1986)', 'Toy Story (1995)', 'Toy Story 2 (1999)',
       'Wallace & Gromit: The Wrong Trousers (1993)', 'Wayne's World (1992)',
       'Wedding Singer, The (1998)', 'When Harry Met Sally... (1989)',
       'Who Framed Roger Rabbit? (1988)',
       'Willy Wonka & the Chocolate Factory (1971)',
       'Wizard of Oz, The (1939)', 'Young Frankenstein (1974)'],
      dtype='object', name='title')